@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absolute-full {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

@layer components {
  .hide-for-mobile {
    display: none;
  }
}
